---
import {getCollection} from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const archives = await getCollection('archives');
	return archives.map((archive) => ({
		params: {slug: archive.slug},
		props: {archive}
	}));
}

const {archive} = Astro.props;
const {title, date} = archive.data;
const {Content} = await archive.render();
---

<Layout
	{title}
	lang="fr"
	breadcrumbs={[{title: 'archives', url: '/archives'}]}
>
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<h1 itemprop="name">{title}</h1>

		<p class="warning">
			Cet article a été publié le <time
				datetime={date.toISOString()}
				itemprop="datePublished"
				pubdate
			>
				{new Intl.DateTimeFormat('fr-FR').format(date)}
			</time> et est désormais archivé.<br />
			Les informations présentées ne sont peut-être plus à jour.
		</p>

		<div itemprop="articleBody">
			<Content />
		</div>
	</article>
</Layout>

<style>
	.warning {
		color: var(--color-negative);
		font-style: italic;
	}
</style>
