---
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';
import Layout from '../layouts/Layout.astro';

const albums = await getCollection('albums');
---

<Layout>
	<h1>Albums</h1>

	<ul>
		{
			albums.map(({data}) => {
				const {
					title,
					artist,
					cover,
					preview,
					deezerId,
					spotifyId
				} = data;

				return (
					<li>
						<article>
							<header>
								<h2>{title}</h2>
								<p>By {artist}</p>
							</header>

							<Image src={cover} alt="" />

							{preview ? (
								<audio
									src={preview}
									controls
									preload="none"
								/>
							) : null}

							{deezerId ? (
								<a
									href={`https://www.deezer.com/album/${deezerId}`}
								>
									Listen on Deezer
								</a>
							) : null}

							{spotifyId ? (
								<a
									href={`https://open.spotify.com/album/${spotifyId}`}
								>
									Listen on Spotify
								</a>
							) : null}
						</article>
					</li>
				);
			})
		}
	</ul>
</Layout>

<script>
	let currentPlayer: HTMLAudioElement;

	document.addEventListener(
		'play',
		function (e) {
			if (
				!(e.target instanceof Element) ||
				e.target.tagName !== 'AUDIO'
			) {
				return;
			}

			if (currentPlayer) {
				currentPlayer.pause();
				currentPlayer.currentTime = 0;
			}

			currentPlayer = e.target as HTMLAudioElement;
		},
		true
	);
</script>
