---
import {getCollection} from 'astro:content';
import Layout from '../layouts/Layout.astro';
import homeIcon from '../components/icons/home.svg?raw';
import searchIcon from '../components/icons/pencil-search.svg?raw';
import playlistIcon from '../components/icons/playlist.svg?raw';
import MoodboardSearchPanel from '../components/MoodboardSearchPanel.astro';
import MoodboardResultsPanel from '../components/MoodboardResultsPanel.astro';

const trackCollection = await getCollection('moodboardTracks');
const tracks = trackCollection.map(({id, data}) => ({
	id,
	...data
}));

declare global {
	interface Window {
		moodboardTracks: typeof tracks;
	}
}
---

<Layout
	theme="dark"
	title="Moodboard"
	breadcrumbs={[]}
	isFullScreen
>
	<Fragment slot="head">
		<link rel="manifest" href="/moodboard-manifest.json" />
	</Fragment>

	<ul class="nav List--raw List--inline">
		<li class="home">
			<a class="Button" href="/">
				<Fragment set:html={homeIcon} /> Home
			</a>
		</li>
		<li>
			<a class="Button" href="#search">
				<Fragment set:html={searchIcon} /> Search
			</a>
		</li>
		<li>
			<a class="Button" href="#results">
				<Fragment set:html={playlistIcon} /> Playlist
			</a>
		</li>
	</ul>

	<div class="app">
		<div class="panel" id="search">
			<MoodboardSearchPanel trackCount={tracks.length} />
		</div>

		<div class="panel results" id="results">
			<MoodboardResultsPanel />
		</div>
	</div>
</Layout>

<style>
	:global(html) {
		scroll-snap-type: y mandatory;
		scroll-snap-align: start end;
	}

	.nav {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		display: grid;
		grid-auto-columns: 1fr;
		margin: 0;
	}

	@media screen and (orientation: portrait) and (min-width: 90ch),
		screen and (orientation: landscape) and (min-width: 120ch) {
		.nav {
			display: none;
		}
	}

	.nav li {
		grid-row: 1;
	}

	.nav a {
		box-sizing: border-box;
		border-radius: 0;
		box-shadow: none;
		width: 100%;
		background: var(--color-surface-variant);
		justify-content: center;
	}

	@media screen and (display-mode: standalone) {
		.home {
			display: none;
		}
	}

	.app {
		display: grid;
		grid-template-columns: 100% 100%;
		grid-template-rows: 1fr;
		gap: 0;
		margin-inline: auto;
		max-inline-size: var(--line-length--wide);
		block-size: 100vh;
		block-size: 100dvh;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
	}

	@media screen and (orientation: portrait) and (min-width: 90ch),
		screen and (orientation: landscape) and (min-width: 120ch) {
		.app {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			overflow-x: initial;
		}
	}

	.panel {
		--panel-block-padding: var(--block-spacing);
		--panel-nav-padding: 1lh;
		box-sizing: border-box;
		min-block-size: 0;
		max-block-size: 100%;
		block-size: 100%;
		inline-size: 100%;
		padding: var(--panel-block-padding) var(--line-padding)
			calc(
				var(--panel-block-padding) + var(--panel-nav-padding)
			)
			var(--line-padding);
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}

	@media screen and (orientation: portrait) and (min-width: 90ch),
		screen and (orientation: landscape) and (min-width: 120ch) {
		.panel {
			--panel-nav-padding: 0lh;
		}
	}

	@media screen and (min-height: 55lh) {
		.panel {
			--panel-block-padding: var(--block-spacing);
		}
	}
</style>

<script is:inline define:vars={{tracks}}>
	window.moodboardTracks = tracks;
</script>

<script>
	import type {MoodboardResultsPanel} from '../components/MoodboardResultsPanel.astro.0.mts';
	import type {MoodboardSearchPanel} from '../components/MoodboardSearchPanel.astro.0.mts';
	import type {Point} from '../services/2d';
	import {
		MoodboardDefaultPreset,
		type MoodboardTrack
	} from '../services/moodboard';

	const search = document.querySelector<MoodboardSearchPanel>(
		'fglt-moodboard-search-panel'
	)!;

	const results = document.querySelector<MoodboardResultsPanel>(
		'fglt-moodboard-results-panel'
	)!;

	results.index(window.moodboardTracks);

	results.addEventListener('results', ((
		e: CustomEvent<MoodboardTrack[]>
	) => {
		search.setPoints(
			e.detail.map(({valence, energy}) => [valence, energy])
		);
	}) as EventListener);

	search.addEventListener('submit', ((
		e: CustomEvent<Point[]>
	) => {
		results.searchAlongPath(e.detail);
	}) as EventListener);

	document.addEventListener('DOMContentLoaded', () => {
		search.setPath(MoodboardDefaultPreset);
	});
</script>
