---
import {getCollection} from 'astro:content';
import DrawingBoard from '../components/DrawingBoard.astro';
import DrawingForm from '../components/DrawingForm.astro';
import MoodboardFilterForm from '../components/MoodboardFilterForm.astro';
import Playlist from '../components/Playlist.astro';
import SpotifyPlayer from '../components/SpotifyPlayer.astro';
import Layout from '../layouts/Layout.astro';

const trackCollection = await getCollection('moodboardTracks');
const tracks = trackCollection.map(({id, data}) => ({
	id,
	...data
}));

const presets = {
	Chill: [
		[0.6, 0.1],
		[0.9, 0.1]
	],
	Energetic: [
		[0.8, 0.9],
		[0.9, 0.9]
	],
	Progressive: [
		[0, 0],
		[0.2, 0.1],
		[0.8, 0.9],
		[1, 1]
	],
	Random: []
};

declare global {
	interface Window {
		moodboardTracks: typeof tracks;
	}
}
---

<Layout
	theme="dark"
	title="Moodboard"
	breadcrumbs={[]}
	isFullScreen
>
	<Fragment slot="head">
		<link rel="manifest" href="/moodboard-manifest.json" />
	</Fragment>

	<div class="app">
		<div class="panel search">
			<div class="info">
				<h1>Moodboard</h1>

				<p class="Subtitle">Draw yourself a playlist!</p>

				<p>
					On the board below, {tracks.length} music tracks are
					laid out according to their perceived happiness and
					energy, from saddest on the left to happiest on the
					right, from calmer at the bottom to hotter at the top.
				</p>

				<p>
					You may try the following presets to get an idea
					of how this works:
				</p>

				<ul class="presets">
					{
						Object.entries(presets).map(
							([label, path]) => (
								<li>
									<button
										class="Button--small"
										data-preset={JSON.stringify(path)}
									>
										{label}
									</button>
								</li>
							)
						)
					}
				</ul>
			</div>

			<div class="board">
				<DrawingBoard />
				<DrawingForm />
			</div>
		</div>

		<div class="panel results">
			<div class="filters">
				<MoodboardFilterForm />
			</div>

			<div class="playlist">
				<Playlist />
			</div>

			<div class="player">
				<SpotifyPlayer />
			</div>
		</div>
	</div>
</Layout>

<style>
	:global(html) {
		scroll-snap-type: y mandatory;
		scroll-snap-align: start end;
	}

	.app {
		display: grid;
		grid-template:
			'search results' 1fr
			/ 100% 100%;
		margin-inline: auto;
		max-inline-size: var(--line-length--wide);
		block-size: 100vh;
		block-size: 100dvh;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
	}

	@media screen and (orientation: portrait) and (min-width: 90ch),
		screen and (orientation: landscape) and (min-width: 120ch) {
		.app {
			grid-template:
				'search results' 1fr
				/ 1fr 1fr;
			align-items: baseline;
			gap: 1lh 5vw;
			overflow-x: initial;
		}
	}

	.panel {
		box-sizing: border-box;
		display: grid;
		gap: 1lh 0;
		min-block-size: 0;
		max-block-size: 100%;
		block-size: 100%;
		inline-size: 100%;
		padding: 2lh var(--line-padding) 1lh var(--line-padding);
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}

	@media screen and (min-height: 50lh) {
		.panel {
			padding-block: 10vh;
		}
	}

	.search {
		grid-area: search;
		grid-template:
			'info' min-content
			'board' 1fr;
	}

	@media screen and (orientation: landscape) and (max-width: 90ch) {
		.search {
			grid-template:
				'info board'
				/ 1fr 1fr;
		}
	}

	.info {
		grid-area: info;
	}

	.board {
		grid-area: board;
		display: flex;
		align-items: stretch;
	}

	.results {
		grid-template:
			'filters' min-content
			'playlist' 1fr
			'player' auto;
	}

	.filters {
		grid-area: filters;
	}

	.playlist {
		grid-area: playlist;
		height: 100%;
		padding-inline-end: 1ch;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: var(--color-interactive)
			var(--color-surface-variant);
	}

	@media screen and (min-width: 90ch) {
		.playlist {
			overscroll-behavior: contain;
		}
	}

	.player {
		grid-area: player;
	}

	p:has(+ .presets) {
		display: inline;
	}

	.presets {
		display: inline;
		padding: 0;
		list-style: none;
	}

	.presets li {
		display: inline;
	}

	@media screen and (display-mode: standalone) {
		:global(.Page-header),
		:global(.Page-footer) {
			display: none !important;
		}
	}
</style>

<script is:inline define:vars={{tracks}}>
	window.moodboardTracks = tracks;
</script>

<script>
	import type {DrawingBoard} from '../components/DrawingBoard.astro.0.mts';
	import type {DrawingForm} from '../components/DrawingForm.astro.0.mts';
	import type {
		MoodboardFilterForm,
		MoodboardFilters
	} from '../components/MoodboardFilterForm.astro.0.mts';
	import type {Playlist} from '../components/Playlist.astro.0.mts';
	import type {SpotifyPlayer} from '../components/SpotifyPlayer.astro.0.mts';
	import {randomPoints, type Point} from '../services/2d';
	import {shuffled} from '../services/math';
	import {MoodboardTrackIndex} from '../services/moodboard';

	const fullIndex = new MoodboardTrackIndex(
		window.moodboardTracks
	);

	const highlightsIndex = new MoodboardTrackIndex(
		window.moodboardTracks.filter(
			({isAlbumHighlight}) => isAlbumHighlight
		)
	);

	const playlist =
		document.querySelector<Playlist>('fglt-playlist')!;
	const player = document.querySelector<SpotifyPlayer>(
		'fglt-spotify-player'
	)!;
	const board = document.querySelector<DrawingBoard>(
		'fglt-drawing-board'
	)!;
	const form = document.querySelector<DrawingForm>(
		'fglt-drawing-form'
	)!;
	const filters = document.querySelector<MoodboardFilterForm>(
		'fglt-moodboard-filter-form'
	)!;

	const search = (
		path: Point[],
		{set, sort, limit}: MoodboardFilters
	) => {
		const index =
			set === 'highlights' ? highlightsIndex : fullIndex;

		const tracks = index
			.searchAlongPath(path, limit)
			.filter((track) => !!track);

		board.setPoints(
			tracks.map(({valence, energy}) => [valence, energy])
		);

		const sortedTracks =
			sort === 'asc'
				? tracks
				: sort === 'desc'
					? tracks.toReversed()
					: shuffled(tracks);

		playlist.setTracks(sortedTracks);
	};

	form.addEventListener('path', ((e: CustomEvent) => {
		board.setCurve(e.detail);
	}) as EventListener);

	board.addEventListener('drawend', ((e: CustomEvent) => {
		search(e.detail, filters.filters);
	}) as EventListener);

	filters.addEventListener('submit', ((e: CustomEvent) => {
		search(board.getCurve(), e.detail);
	}) as EventListener);

	playlist.addEventListener('play', ((e: CustomEvent) => {
		player.loadPlaylist(
			playlist.tracks.map(({id}) => id),
			e.detail
		);
	}) as EventListener);

	document
		.querySelectorAll<HTMLButtonElement>('[data-preset]')
		.forEach((button) => {
			button.addEventListener('click', () => {
				const path = JSON.parse(
					button.dataset.preset!
				) as Point[];

				form.setPoints(path.length ? path : randomPoints());
			});
		});

	document.addEventListener('DOMContentLoaded', () => {
		form.setPoints([
			[0.25, 0.35],
			[0.45, 0.7],
			[0.4, 0.4],
			[0.55, 0.6],
			[0.6, 0.45],
			[0.8, 0.5]
		]);
	});
</script>
