---
import {albumCollection} from '../services/albums';
import Section from './Section.astro';
---

<Section isWide>
	<ul
		class="List--raw Grid Grid--10"
		style={`--album-count: ${albumCollection.length}`}
	>
		{
			albumCollection.map(
				({id, title, artist, preview, dominantColor}, i) => {
					const linkTitle = `${title} by ${artist}`;

					return (
						<li>
							<a
								class="Reflection"
								href={`/albums/${id}`}
								title={linkTitle}
								data-preview={preview}
								style={`--album-index: ${i}; --album-color: ${dominantColor};`}
							/>
						</li>
					);
				}
			)
		}
	</ul>
</Section>

<style>
	a {
		--album-index: 0;
		--album-color: transparent;
		display: block;
		border-radius: var(--radius);
		background-color: var(--album-color);
		background-image: url('/sprites/album-covers.webp');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position-x: calc(
			100% / (var(--album-count) - 1) * var(--album-index)
		);
		aspect-ratio: 1 / 1;
	}

	a:is(:hover, :focus) {
		transform: scale(1.05);
	}
</style>
