---
import {Image} from 'astro:assets';
import type {CollectionEntry} from 'astro:content';
import steamIcon from './icons/steam.svg?raw';

interface Props {
	game: CollectionEntry<'games'>;
}

const {game} = Astro.props;
const {title, cover, website, steamId} = game.data;
const {Content} = await game.render();
---

<article>
	<div class="thumbnail">
		<Image
			src={cover}
			alt=""
			loading="eager"
			itemprop="image"
		/>
	</div>

	<h3>{title}</h3>

	<Content />

	{
		website ? (
			<a
				class="Button"
				href={website}
				title="Visit website"
				set:text="Website"
			/>
		) : null
	}

	{
		steamId ? (
			<a
				class="Button"
				href={`https://store.steampowered.com/app/${steamId}`}
				title="View on Steam"
				set:text="Steam"
			>
				<Fragment set:html={steamIcon} />
			</a>
		) : null
	}
</article>

<style>
	article {
		margin-block-end: 2lh;
		break-inside: avoid;
	}

	.thumbnail {
		border-radius: var(--radius);
		background: var(--color-theme);
	}

	.thumbnail img {
		width: 100%;
		mix-blend-mode: luminosity;
	}

	h3 {
		margin-block: 1rem 0.25rem;
	}
</style>
