---
import playIcon from './icons/player-play.svg?raw';
---

<fglt-playlist>
	<div role="status" aria-live="polite">
		<p id="status"></p>
	</div>

	<ol></ol>

	<template>
		<li>
			<span class="title"></span>
			<span class="artist"></span>
			<button class="play Button--icon" title="" data-id="">
				<Fragment set:html={playIcon} />
			</button>
		</li>
	</template>
</fglt-playlist>

<style>
	[role='status'] {
		color: var(--color-neutral);
	}

	ol {
		padding: 0;
		columns: calc(var(--line-length) / 2);
		column-gap: 5ch;
		counter-reset: order 0;
	}

	li {
		position: relative;
		display: grid;
		grid-template:
			'order title play'
			'order artist play'
			/ min-content 1fr auto;
		align-items: baseline;
		gap: 0 1ch;
		border-radius: var(--radius);
		padding: 0.5em 1ch;
		counter-increment: count;
		break-inside: avoid;
	}

	li::before {
		content: counter(count, decimal);
		grid-area: order;
		min-inline-size: 2ch;
		color: var(--color-neutral);
		text-align: end;
		font-weight: bold;
		font-variant-numeric: tabular-nums;
		aspect-ratio: 1 / 1;
	}

	@media screen and (orientation: landscape) and (max-width: 120ch) {
		li {
			grid-template:
				'order title artist play'
				/ min-content auto 1fr auto;
		}
	}

	li:hover {
		background: var(--color-surface-variant);
	}

	li:hover::before {
		color: var(--color-on-surface);
	}

	.play {
		grid-area: play;
		align-self: center;
	}

	@media screen and (orientation: landscape) and (max-width: 120ch) {
		.play {
			height: 1lh;
			padding: 0;
		}
	}

	.title {
		grid-area: title;
		line-height: 1.2;
	}

	.artist {
		grid-area: artist;
		color: var(--color-neutral);
		line-height: 1.2;
		font-size: var(--font-size-s);
	}
</style>

<script>
	import {formatTime} from '../services/format';

	type PlaylistTrack = {
		id: string;
		title: string;
		artist: string;
		duration: number;
	};

	export class Playlist extends HTMLElement {
		#list!: HTMLOListElement;
		#itemTemplate!: HTMLTemplateElement;
		#status!: HTMLParagraphElement;
		#tracks: PlaylistTrack[] = [];

		connectedCallback() {
			this.#list = this.querySelector('ol')!;
			this.#itemTemplate = this.querySelector('template')!;
			this.#status =
				document.querySelector<HTMLParagraphElement>(
					'#status'
				)!;

			this.addEventListener('click', (event) => {
				if (event.target instanceof HTMLButtonElement) {
					this.dispatchEvent(
						new CustomEvent('play', {
							detail: event.target.dataset.id
						})
					);
				}
			});
		}

		get tracks() {
			return this.#tracks;
		}

		setTracks(tracks: PlaylistTrack[]) {
			this.#tracks = tracks;
			this.#render();
		}

		nextTrack(trackId: string) {
			const index = this.#tracks.findIndex(
				({id}) => id === trackId
			);

			return index < 0
				? undefined
				: this.#tracks.at(index + 1);
		}

		#render() {
			const seconds = this.#tracks.reduce(
				(total, {duration}) => total + duration,
				0
			);

			this.#status.innerText = `${this.#tracks.length} tracks, ${formatTime(seconds)}`;
			this.#list.innerHTML = '';
			this.#list.append(
				...this.#tracks.map(this.#renderItem, this)
			);
		}

		#renderItem({id, title, artist}: PlaylistTrack) {
			const result = this.#itemTemplate.content.cloneNode(
				true
			) as DocumentFragment;

			const play =
				result.querySelector<HTMLButtonElement>('.play')!;

			play.setAttribute('title', `Play ${title}`);
			play.dataset.id = id;

			result.querySelector('.title')!.textContent = title;
			result.querySelector('.artist')!.textContent =
				`by ${artist}`;

			return result;
		}
	}

	customElements.define('fglt-playlist', Playlist);
</script>
