---
import playIcon from './icons/player-play.svg?raw';
---

<fglt-playlist>
	<div role="status" aria-live="polite">
		<p id="status"></p>
	</div>

	<ol></ol>

	<template>
		<li>
			<span class="title"></span>
			<span class="artist"></span>
			<button class="play Button--icon" title="" data-id="">
				<Fragment set:html={playIcon} />
			</button>
		</li>
	</template>
</fglt-playlist>

<style>
	fglt-playlist {
		display: block;
		container-type: inline-size;
		inline-size: 100%;
	}

	[role='status'] {
		color: var(--color-neutral);
	}

	ol {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
		gap: 1em var(--line-padding);
		margin: 0;
		padding: 0;
		counter-reset: order 0;
	}

	@container (min-width: 60ch) {
		ol {
			display: grid;
			grid-template-columns: 1fr;
		}
	}

	li {
		position: relative;
		display: grid;
		grid-template:
			'order title play' min-content
			'order artist play'
			/ min-content 1fr auto;
		align-items: flex-start;
		gap: 0 1ch;
		border-radius: var(--radius-s);
		counter-increment: count;
		break-inside: avoid;
	}

	li::before {
		content: counter(count, decimal);
		grid-area: order;
		grid-template:
			'order title artist play'
			/ min-content auto 1fr auto;
		border-radius: 100%;
		min-inline-size: 2ch;
		color: var(--color-neutral);
		text-align: end;
		font-variant-numeric: tabular-nums;
		aspect-ratio: 1 / 1;
		mix-blend-mode: difference;
	}

	li:hover {
		box-shadow: 0 0 0 0.5em var(--color-surface-variant);
		background: var(--color-surface-variant);
	}

	li:hover::before {
		color: var(--color-on-surface);
	}

	.play {
		grid-area: play;
	}

	@media screen and (orientation: landscape) and (max-width: 120ch) {
		.play {
			height: 1lh;
			padding: 0;
		}
	}

	.title {
		grid-area: title;
		line-height: 1.2;
	}

	.artist {
		grid-area: artist;
		color: var(--color-neutral);
		line-height: 1.2;
		font-size: var(--font-size-s);
	}
</style>

<script>
	import {formatTime} from '../services/format';

	type PlaylistTrack = {
		id: string;
		title: string;
		artist: string;
		duration: number;
		energy: number;
		valence: number;
	};

	export class Playlist extends HTMLElement {
		#list!: HTMLOListElement;
		#itemTemplate!: HTMLTemplateElement;
		#status!: HTMLParagraphElement;
		#tracks: PlaylistTrack[] = [];

		connectedCallback() {
			this.#list = this.querySelector('ol')!;
			this.#itemTemplate = this.querySelector('template')!;
			this.#status =
				document.querySelector<HTMLParagraphElement>(
					'#status'
				)!;

			this.addEventListener('click', (event) => {
				const button = (
					event.target as HTMLElement
				).closest<HTMLElement>('.play');

				if (button) {
					this.dispatchEvent(
						new CustomEvent('play', {
							detail: button.dataset.id
						})
					);
				}
			});
		}

		get tracks() {
			return this.#tracks;
		}

		setTracks(tracks: PlaylistTrack[]) {
			this.#tracks = tracks;
			this.#render();
		}

		nextTrack(trackId: string) {
			const index = this.#tracks.findIndex(
				({id}) => id === trackId
			);

			return index < 0
				? undefined
				: this.#tracks.at(index + 1);
		}

		#render() {
			const seconds = this.#tracks.reduce(
				(total, {duration}) => total + duration,
				0
			);

			this.#status.innerText = `${this.#tracks.length} tracks, ${formatTime(seconds)}`;
			this.#list.innerHTML = '';
			this.#list.append(
				...this.#tracks.map(this.#renderItem, this)
			);
		}

		#renderItem({
			id,
			title,
			artist,
			energy,
			valence
		}: PlaylistTrack) {
			const result = this.#itemTemplate.content.cloneNode(
				true
			) as DocumentFragment;

			const item = result.querySelector<HTMLLIElement>('li')!;

			item.style.setProperty('--energy', energy.toString());
			item.style.setProperty('--valence', valence.toString());

			const play =
				result.querySelector<HTMLButtonElement>('.play')!;

			play.setAttribute('title', `Play ${title}`);
			play.dataset.id = id;

			result.querySelector('.title')!.textContent = title;
			result.querySelector('.artist')!.textContent =
				`by ${artist}`;

			return result;
		}
	}

	customElements.define('fglt-playlist', Playlist);
</script>
