---
import type {ImageMetadata} from 'astro';
import {Image} from 'astro:assets';
import '../styles/reset.css';
import '../styles/content.css';
import '../styles/grids.css';
import '../styles/lists.css';
import '../styles/forms.css';
import '../styles/effects.css';

type Breadcrumb = {
	title: string;
	url: string;
};

interface Props {
	lang?: 'en' | 'fr';
	theme?: 'light' | 'dark';
	themeColor?: string;
	title: string;
	breadcrumbs?: Breadcrumb[];
	cover?: ImageMetadata;
	noIndex?: boolean;
}

const {
	lang = 'en',
	theme = 'light',
	themeColor,
	title,
	breadcrumbs,
	cover,
	noIndex = false
} = Astro.props;
---

<html
	lang="en"
	class={`Theme--${theme}`}
	style={themeColor ? `--color-theme: ${themeColor}` : null}
>
	<head>
		<meta charset="utf-8" />
		{noIndex ? <meta name="robots" content="noindex" /> : null}

		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title} | fglt</title>
	</head>

	<body class="Page" {lang}>
		{
			cover ? (
				<div class="Page-cover">
					<Image
						class="Page-coverImage"
						src={cover}
						alt=""
						widths={[100]}
						sizes="100px"
						loading="eager"
					/>
				</div>
			) : null
		}

		<div class="Page-container">
			<header class="Page-header">
				<p class="Page-title" role="banner">fglt.</p>

				{
					breadcrumbs ? (
						<nav class="Page-nav">
							<ul class="List--raw List--inline List--dotted">
								<li>
									<a href="/">home</a>
								</li>

								{breadcrumbs.map(({title, url}) => (
									<li>
										<a href={url}>{title}</a>
									</li>
								))}
							</ul>
						</nav>
					) : null
				}
			</header>

			<main role="main">
				<slot />
			</main>

			<footer class="Page-footer" role="contentinfo">
				<p>
					Homegrown by Félix Girault<br />
					<a href="https://github.com/felixgirault/garden">
						Source code available on GitHub
					</a>
				</p>
			</footer>
		</div>
	</body>
</html>

<script type="speculationrules">
	{
		"prerender": [
			{
				"source": "document",
				"eagerness": "conservative"
			}
		]
	}
</script>

<style>
	.Page-cover {
		position: absolute;
		top: 0;
		inline-size: 100%;
		max-block-size: 80vh;
		overflow: hidden;
	}

	.Page-cover::after {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(
			to top,
			var(--color-surface) 0,
			color-mix(
					in srgb,
					var(--color-surface),
					transparent 20%
				)
				30vh,
			color-mix(
					in srgb,
					var(--color-surface),
					transparent 25%
				)
				70vh,
			color-mix(
					in srgb,
					var(--color-surface),
					transparent 20%
				)
				100%
		);
	}

	.Page-coverImage {
		inline-size: 100%;
		filter: blur(100px);
		transform: scale(1.2);
	}

	.Page-container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		padding-inline: var(--line-padding);
		max-inline-size: var(--line-length);
	}

	.Page-header {
		display: flex;
		gap: 4ch;
		margin-block: 1lh 3lh;
	}

	.Page-title {
		font-weight: bold;
	}

	.Page-footer {
		margin-block: 8lh 4lh;
		text-align: center;
		line-height: var(--line-height-s);
		font-size: var(--font-size-s);

		&::before {
			content: '* * *';
			color: var(--color-neutral);
		}
	}
</style>
