---
import {easeSinInOut} from 'd3-ease';
import {
	scaleStops,
	scrim,
	stopsToCssStops
} from '../services/css';
import '../styles/reset.css';
import '../styles/content.css';
import '../styles/grids.css';
import '../styles/lists.css';
import '../styles/forms.css';
import '../styles/effects.css';

type Breadcrumb = {
	title: string;
	url: string;
};

interface Props {
	lang?: 'en' | 'fr';
	theme?: 'light' | 'dark';
	themeColor?: string;
	title: string;
	breadcrumbs?: Breadcrumb[];
	cover?: string;
	noIndex?: boolean;
}

const {
	lang = 'en',
	theme = 'light',
	themeColor,
	title,
	breadcrumbs,
	cover,
	noIndex = false
} = Astro.props;

const pageCoverMaskStops = stopsToCssStops([
	[0, 0.2],
	...scaleStops(scrim(easeSinInOut, 6), [0.2, 0.2], [1, 0])
]);
---

<html
	lang="en"
	class={`Roots Theme--${theme}`}
	style={{
		'--color-theme': themeColor,
		'--page-cover-image': cover ? `url('${cover}')` : null
	}}
>
	<head>
		<meta charset="utf-8" />
		{noIndex ? <meta name="robots" content="noindex" /> : null}

		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<style>
			@font-face {
				font-family: 'Noto Sans';
				src:
					local('Noto Sans'),
					local('NotoSans'),
					local('noto'),
					url('/fonts/noto-sans.woff2') format('woff2');
				font-style: normal;
				font-weight: 100 700;
				font-stretch: 100%;
				font-display: block;
			}

			@font-face {
				font-family: 'Noto Serif';
				src:
					local('Noto Serif Regular'),
					local('NotoSerif-Regular'),
					local('noto serif'),
					url('/fonts/noto-serif-regular.woff2')
						format('woff2');
				font-style: normal;
				font-weight: 400;
				font-display: swap;
			}

			@font-face {
				font-family: 'Noto Serif';
				src:
					local('Noto Serif Italic'),
					local('NotoSerif-Italic'),
					local('noto serif'),
					url('/fonts/noto-serif-italic.woff2')
						format('woff2');
				font-style: italic;
				font-weight: 400;
				font-display: swap;
			}
		</style>

		{
			cover ? (
				<style
					set:html={`:root { --page-cover-mask-stops: ${pageCoverMaskStops} }`}
				/>
			) : null
		}

		<title>{title} | fglt</title>
	</head>

	<body
		class:list={{Page: true, 'Page--hasCover': !!cover}}
		{lang}
	>
		<div class="Page-container">
			<header class="Page-header">
				<p class="Page-title" role="banner">fglt.</p>

				{
					breadcrumbs ? (
						<nav class="Page-nav">
							<ul class="List--raw List--inline List--dotted">
								<li>
									<a href="/">home</a>
								</li>

								{breadcrumbs.map(({title, url}) => (
									<li>
										<a href={url}>{title}</a>
									</li>
								))}
							</ul>
						</nav>
					) : null
				}
			</header>

			<main role="main">
				<slot />
			</main>

			<footer class="Page-footer" role="contentinfo">
				<p>Homegrown by Félix Girault.</p>

				<ul class="List--raw List--inline List--dotted">
					<li>
						<a href="/colophon" set:text="Colophon" />
					</li>
					<li>
						<a
							href="https://github.com/felixgirault/garden"
							set:text="Source code"
							title="Source code of this website on GitHub"
						/>
					</li>
				</ul>
			</footer>
		</div>

		<script type="speculationrules" is:inline>
			{
				"prerender": [
					{
						"source": "document",
						"eagerness": "conservative"
					}
				]
			}
		</script>
	</body>
</html>

<script>
	// @see https://github.com/vitejs/vite/issues/10271#issuecomment-1260944521
	import rootsPainter from '../worklets/rootsPainter?worker&url';

	if ('paintWorklet' in CSS) {
		document.documentElement.style.setProperty(
			'--roots-seed',
			Date.now().toString()
		);

		CSS.paintWorklet.addModule(rootsPainter);
	}
</script>

<style>
	.Page--hasCover::before {
		--gradient-size: closest-side;
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		aspect-ratio: 16 / 9;
		mask-image: radial-gradient(
			var(--gradient-size),
			var(--page-cover-mask-stops)
		);
		background-image: var(--page-cover-image);
		background-size: cover;
		background-repeat: no-repeat;
		/* This smoothes out the image scaling for whatever reason */
		background-blend-mode: color;
	}

	@media (orientation: portrait) {
		.Page--hasCover::before {
			--gradient-size: farthest-side;
			aspect-ratio: 1 / 2;
		}
	}

	.Page-container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		padding-inline: var(--line-padding);
		max-inline-size: var(--line-length);
	}

	.Page-header {
		display: flex;
		gap: 4ch;
		margin-block: 1lh var(--block-spacing);
	}

	.Page-title {
		font-weight: var(--font-weight-bold);
	}

	.Page-footer {
		margin-block: 8lh 4lh;
		text-align: center;
		line-height: var(--line-height-s);
		font-size: var(--font-size-s);
	}

	.Page-footer::before {
		content: '* * *';
		color: var(--color-neutral);
	}

	.Page-footer p {
		margin-block: 0;
	}
</style>
