---
type Breadcrumb = {
	title: string;
	url: string;
};

interface Props {
	lang?: 'en' | 'fr';
	title: string;
	breadcrumbs?: Breadcrumb[];
}

const {lang = 'en', title, breadcrumbs} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | fglt</title>
	</head>

	<body>
		<header>
			<p role="banner">fglt.</p>

			{
				breadcrumbs ? (
					<nav>
						<ul>
							<li>
								<a href="/">home</a>
							</li>

							{breadcrumbs.map(({title, url}) => (
								<li>
									<a href={url}>{title}</a>
								</li>
							))}
						</ul>
					</nav>
				) : null
			}
		</header>

		<main role="main" {lang}>
			<slot />
		</main>

		<footer role="contentinfo">
			<p>
				Homegrown by Félix Girault<br />
				<a href="https://github.com/felixgirault/garden">
					Source code available on GitHub
				</a>
			</p>
		</footer>
	</body>
</html>
